
@import "../../variables.scss";
.homer{
  margin: 10px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  text-align: center;
}
.skills{
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  .skills-lista{
    margin: 10px;
    padding-top: 10px;
    border-radius:70px;
    display: block;
    transition: all 0.4s ease-in-out;
    width: 50%;

    &:hover{
      animation: jello 2s;
      box-shadow: 0 0 20px 4px $color3;
    }
    h2{
      font-size: 20px;
      font-family: $Alumini;
      align-items: center;
    }
    .fa{
      width: 50px;
      height: 50px;
    }
  }
  .a{
 color: $color2;


  }
  .b{
 color:$color1;


  }

}

@media only screen and (max-width: 500px) {
  .homer{
    margin: 30px 30px 10px 30px;
  }
  .skills{
    grid-template-columns: repeat(2, 1fr);

    .skills-lista{
      margin: 20px 0px
    }
  }

}

