@import "../../variables.scss";

.home{
  padding: 70px 40px 20px 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
}


.division{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;

  .logo{
    width: 400px;
    height: 400px;
  }

}


h4{
  font-size: 20px;
  color: $color1;
  padding-top: 30px;
  margin: 0;

}
h2{
  font-size: 60px;
  text-transform: uppercase;
  color: $color2;
}

.maquina{

  color: $color3;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 23px;
  margin: 0 auto;

  border-right: 2px solid $color2;
  animation: blink 1s steps(38), typing 5s steps(38) infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.descarga{
  margin-top: 30px;



  .carga{
    padding: 10px 20px ;
    margin:0px 10px ;
    border-radius: 20px;
    background-color: $color4;
    color: $color1;
    text-decoration: none;

    &:hover{
      background-color: $color3;
    }

    .hi{

        animation: pulse 4s infinite

    }
  }
}

@media only screen and (max-width: 768px) {

 .home{
  padding:  60px 20px 40px 20px;

 }

 .division{
  .logo{
    width: 250px;
    height: 250px;
    margin-top: 30px;
  }
 }

  .maquina{
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 600px){
  .home{
    padding:  50px 10px 30px 10px ;

  }

  .descarga{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

    .carga{
background-color: #373737;
margin: 10px 30px;
    }
  }

  .division{
    flex-direction: column;

  }
  h1{
    font-size: 50px;
  }

.maquina{
  font-size: 20px;
}
}
@media only screen and (min-width: 1024px){
  .home{
    padding:  70px 0px 0px 0px ;
  }

.maquina{
  font-size: 30px;
}

}





