@import "../../variables.scss";



.footer{
  background-color: #555555a9;
 display: flex;
 flex-direction: row;
 justify-content: center;
 border-top: 2px solid $color3;

}
.iconit{
  font-size: 25px;
  padding: 4px;
  margin:10px;
  background: color1;
  color: $color5;
  &:hover{
    color:$color3;
  }
}
